*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100vw;
	background:black;
 	overflow: hidden;
}
.slider{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	object-fit: cover;
	position: relative;
	
}
.slider .slide{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left:0;
	/*display:none;*/
	opacity: .3;
	transition: opacity 0.4s ease-in-out;
}
.slider .active{
	/*display: block;*/
	z-index: 2;
	opacity:1;
	animation: slideIn 0.7s cubic-bezier(0.39, 0.58, 0.57, 1);
	animation-fill-mode: forwards;
}
@keyframes slideIn{
	0%{
		left: 80%;
		opacity: 0.4;
	}
	80%{
		left:-10%;
	}
	100%{
		left:0%;
		opacity: 1;
	}
}
.controls{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: rgba(0,0,0,0.3);
	z-index: 3;
}
.controls .leftBtn, .rightBtn{
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
	position: absolute;
	width: 10%;
	height: 100%;
	top:0;
	cursor: pointer;
}
.controls .leftBtn{
	left: 0;
}
.controls .rightBtn{
	left:calc(100% - 10%);
}

.markList{
	position: absolute;
	top: calc(100% - 35px);
	left:50%;
	transform: translate(-50%);
	height: 20px;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;
	font-family: monospace;
	font-weight: bold;
}


@media only screen and (max-width: 1024px){
	.slider, .slider .slide{
		height:60vh;
	}
}

@media only screen and (max-width: 600px){
	.slider, .slider .slide{
		height:40vh;
	}
}